/ Page Content
.container
  / Page Header
  .row
    .col-lg-12
      %h1.page-header
        ダッシュボード
        %small 観察データ統計
  / /.row
  / Projects Row
  .row
    .col-md-4.portfolio-item
      %h3
        %a{:href => "#"} 個人別観察数
      %table.table
        %tbody
          %th= t('activerecord.attributes.user.observation_count')
          %th= t('activerecord.attributes.user.wp_author_login')
          - @users.each do |user|
            %tr
              %td= user.observations.count
              %td= user.wp_author_login

    .col-md-4.portfolio-item
      %h3
        %a{:href => "#"} Project Name
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.

    .col-md-4.portfolio-item
      %h3
        %a{:href => "#"} Project Name
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.

  / /.row
  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Your Website 2014
    / /.row
/ /.container
